@charset "UTF-8";
@font-face {
  font-family: "FontAwesome";
  src: url("../font/webfonts");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* **************** Start block ************************** */
.header {
  max-width: 1400px;
  width: 100%;
  min-width: 300px;
  color: white;
  background-blend-mode: soft-light;
  background: url(../img/img1.png), linear-gradient(90deg, #1ad799 0%, #2febe2 100%);
  background-size: cover;
}

.header__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.header__title {
  margin: 20vw 0;
}
.header__title h1 {
  font-size: 10vw;
  font-weight: 400;
  user-select: none;
  margin-bottom: 30px;
}
.header__title h2 {
  font-size: 6vw;
  font-weight: 700;
  user-select: none;
  margin-bottom: 30px;
}
.header__title h4 {
  font-size: 3vw;
  font-weight: 300;
  user-select: none;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header__social {
  flex: 1 1 0;
  height: 100%;
  padding: 18px 0 0 20px;
  user-select: none;
}
.header__social a {
  color: inherit;
}
.header__social .fab {
  margin-right: 20px;
  font-size: 24px;
}
.header__social .fab:hover {
  color: #313741;
  transition: 0.1s linear;
}

.header__nav {
  position: relative;
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav-btn {
  width: 40px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
}
.header__nav-btn::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.header__nav-btn::after {
  position: absolute;
  left: 0;
  bottom: 0px;
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s;
}
.header__nav-btn span {
  display: block;
  margin-left: 10px;
  margin-top: 13px;
  width: 30px;
  height: 3px;
  background: white;
  transition: background 0.2s linear;
}

.header__nav-btn-active span {
  background: transparent;
}
.header__nav-btn-active::before {
  transform: rotate(45deg);
  top: 13.5px;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header__nav-btn-active::after {
  transform: rotate(-45deg);
  bottom: 13.5px;
  transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header__nav-menu {
  position: relative;
  top: 180px;
  right: 0px;
  width: 260px;
  height: 260px;
  visibility: hidden;
  border: 1px solid red;
}

.header__nav-menu-active {
  visibility: visible;
  position: absolute;
  top: -30px;
  right: 0;
  width: 260px;
  height: 30px;
  transform-origin: 100% 50%;
  transition: visibility linear 1s;
}
.header__nav-menu-active:nth-child(1) {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
.header__nav-menu-active:nth-child(2) {
  transform: rotate(-22.5deg);
  transition: transform 0.2s linear;
}
.header__nav-menu-active:nth-child(3) {
  transform: rotate(-45deg);
  transition: transform 0.3s linear;
}
.header__nav-menu-active:nth-child(4) {
  transform: rotate(-67.5deg);
  transition: transform 0.4s linear;
}
.header__nav-menu-active:nth-child(5) {
  transform: rotate(-90deg);
  transition: transform 0.4s linear;
}
.header__nav-menu-active a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.header__nav-menu-active a:hover {
  color: #313741;
  transition: color 0.3s linear;
}

.main {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-width: 300px;
}

.container {
  width: 100%;
  max-width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  user-select: none;
}
.container__title {
  display: inline;
  margin: 140px auto;
  font-size: 4vw;
  font-weight: 700;
  background: linear-gradient(90deg, #1ad799 0%, #2febe2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container_bgd-dark {
  background: #22252c;
}
.container_bgd-gray {
  background: #313741;
}

/*  *************** block 'aboutMe' *******************  */
.aboutMe {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.aboutMe__photo {
  flex: 1 1 0;
  position: relative;
  margin-top: 160px;
}
.aboutMe__photo-border {
  width: 66%;
  min-width: 240px;
  min-height: 240px;
  padding-top: 66%;
  border: 4px solid #1ad799;
  margin-left: 50px;
  z-index: 1;
}
.aboutMe__photo-bgd {
  position: absolute;
  top: 38px;
  left: 0;
  background: black;
  z-index: 2;
  width: 68%;
}
.aboutMe__photo-bgd img {
  display: block;
  min-width: 250px;
  width: 100%;
  height: auto;
}
.aboutMe__section_aboutMe {
  margin: 140px 0;
  flex: 1 1 0;
  min-width: 300px;
}
.aboutMe__section_aboutMe p {
  margin-top: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
.aboutMe__section_aboutMe h6 {
  margin-top: 20px;
  font-size: 18px;
  color: #1ad799;
}
.aboutMe__section_aboutMe h6 span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.aboutMe__myInterests {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.aboutMe__myInterests h1 {
  flex: 1 1 100%;
  margin-bottom: 25px;
}
.aboutMe__myInterests .fas,
.aboutMe__myInterests .fab {
  font-size: 40px;
  color: #1ad799;
  transition: 0.35s color;
}
.aboutMe__myInterests-icon {
  width: 100px;
  height: 200px;
}
.aboutMe__myInterests-icon div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #1ad799;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.35s linear;
}
.aboutMe__myInterests-icon div:hover {
  background: linear-gradient(90deg, #1ad799 0%, #2febe2 100%);
  transition: 0.3s linear;
}
.aboutMe__myInterests-icon div:hover ~ span, .aboutMe__myInterests-icon div:hover i {
  opacity: 1;
  visibility: visible;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.35s linear;
}
.aboutMe__myInterests-icon span {
  display: block;
  visibility: hidden;
  opacity: 0;
  margin-top: 20px;
  text-align: center;
  transition: 0.55s opacity, 0.55s visibility;
}

/* *************  block 'Education' *********** */
.education {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: auto;
}
.education__tree {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.education__section {
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 0;
}
.education__section .center {
  background: #313741;
  z-index: 2;
}
.education__section .center .far {
  font-size: 32px;
  color: #2febe2;
}
.education__item1 {
  flex: 1 1 0;
  padding: 0 15px;
  line-height: 1.5;
  text-align: right;
}
.education__item1 h2 {
  color: #2febe2;
}
.education__item1_reverce {
  flex: 1 1 0;
  padding: 0 15px;
  line-height: 1.5;
  text-align: left;
  order: 1;
}
.education__item1_reverce h2 {
  color: #2febe2;
}
.education__item2 {
  flex: 1 1 0;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}
.education__item2_reverce {
  flex: 1 1 0;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
  order: -1;
}

.circle {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #2febe2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #313741;
  z-index: 2;
}
.circle .fas,
.circle .fab {
  font-size: 32px;
  color: #2febe2;
}

.border-top-bottom {
  width: 3px;
  height: 100px;
  background: #2febe2;
  z-index: 1;
  margin: 0 auto;
}

.border {
  width: 3px;
  height: 150px;
  background: #2febe2;
  z-index: 1;
}

section:last-of-type .border {
  height: 250px;
}

.tree__end {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border: 1px solid #2febe2;
  border-radius: 50%;
  background: #2febe2;
  margin-bottom: 120px;
}

/* ****** block  work ************************** */
.work {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.work__top-icon {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #2febe2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__top-icon .fas,
.work__top-icon .fab {
  font-size: 32px;
  color: #2febe2;
}
.work__tree_wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 680px;
}
.work__leftTree, .work__rightTree {
  height: 100%;
  flex: 1 1 0;
  list-style: none;
  position: relative;
}
.work__leftTree h2, .work__rightTree h2 {
  color: #2febe2;
}
.work__leftTree p, .work__rightTree p {
  font-size: 14px;
  font-weight: 300;
}
.work__leftTree li:first-of-type, .work__rightTree li:first-of-type {
  top: 100px;
}
.work__leftTree li:nth-of-type(2), .work__rightTree li:nth-of-type(2) {
  top: 250px;
}
.work__leftTree li:nth-of-type(3), .work__rightTree li:nth-of-type(3) {
  top: 400px;
}
.work__leftTree li:last-of-type, .work__rightTree li:last-of-type {
  top: 550px;
}
.work__leftTree li, .work__rightTree li {
  width: 90%;
  position: absolute;
}
.work__leftTree {
  border-right: 3px solid #2febe2;
}
.work__leftTree li {
  text-align: right;
  padding-right: 30px;
  right: 0px;
}
.work .icon {
  position: absolute;
  top: 0;
  right: -17px;
}
.work .icon .far {
  font-size: 32px;
  color: #2febe2;
  background: #22252c;
  z-index: 1;
}
.work__rightTree li {
  text-align: left;
  padding-left: 30px;
}

.profSkill {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.profSkill__items {
  width: 100%;
  margin: 0 auto 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}
.profSkill__card {
  flex: 0 1 300px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
  margin: 0 20px 50px;
  transition: all 0.2s linear;
}
.profSkill__card:hover {
  transform: scale(1.05, 1.05);
}
.profSkill__card_scale {
  margin: 50px 20px;
  width: 85%;
  height: 6px;
  background: #22252c;
}
.profSkill__card h2 {
  text-align: center;
  height: 60px;
  font-size: 20px;
  margin: 20px 20px 40px;
}
.profSkill__card img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  filter: grayscale(0.8);
}

.indication {
  height: 100%;
  background: linear-gradient(90deg, #1ad799 0%, #2febe2 100%);
  position: relative;
  font-size: 14px;
}
.indication::after {
  position: absolute;
  top: -30px;
  right: -5%;
}
.indication::before {
  position: absolute;
  top: -30px;
  left: 0;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #2febe2;
  position: absolute;
  right: -5px;
  top: -3.75px;
}

.autoCad {
  width: 75%;
}
.autoCad::before {
  content: "AutoCad";
}
.autoCad::after {
  content: "75%";
}

.sCad {
  width: 65%;
}
.sCad::before {
  content: "SCAD";
}
.sCad::after {
  content: "65%";
}

.base {
  width: 75%;
}
.base::before {
  content: "Base";
}
.base::after {
  content: "75%";
}

.html {
  width: 80%;
}
.html::before {
  content: "HTML";
}
.html::after {
  content: "80%";
}

.css {
  width: 80%;
}
.css::before {
  content: "CSS";
}
.css::after {
  content: "80%";
}

.js {
  width: 40%;
}
.js::before {
  content: "JS";
}
.js::after {
  content: "40%";
}

.skill-1 {
  width: 80%;
}
.skill-1::before {
  content: "Монтаж конструкций";
}
.skill-1::after {
  content: "80%";
}

.skill-2 {
  width: 90%;
}
.skill-2::before {
  content: "Электроинструмент";
}
.skill-2::after {
  content: "90%";
}

.skill-3 {
  width: 95%;
}
.skill-3::before {
  content: "Чтение чертежей";
}
.skill-3::after {
  content: "95%";
}

#up {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 92vh;
  right: 2vw;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  box-shadow: 0 0 2px 3px white;
  transition: all 0.3s linear;
}
#up a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
}
#up a > i {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: bottom;
  color: #22252c;
  font-size: 36px;
}
#up:hover {
  transition: all 0.3s linear;
  background: white;
}

/*# sourceMappingURL=style.css.map */
