// ** Mixins ******

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/webfonts');
  font-weight: normal;
  font-style: normal;
}

@import '_mixin';
@import '_variables';



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
//Плавный скроллинг по якорям
html{
  scroll-behavior: smooth;
}

/* **************** Start block ************************** */

.header {
  max-width: 1400px;
  width: 100%;
  min-width: 300px;

  color: white;
  background-blend-mode: soft-light; //смешивание слоев
  background: url(../img/img1.png), $bgd-row1;
  background-size: cover;
}

.header__container {
  @include classHeaderContainer(flex, column wrap, flex-start, center, 100%, 1140px, 0 auto, $fntFam, $colorTitle2);

}


.header__title {
  margin: 20vw 0;

  h1 {
    @include title(10vw, 400);
    margin-bottom: 30px;

  }

  h2 {
    @include title(6vw, 700);
    margin-bottom: 30px;
  }

  h4 {
    @include title(3vw, 300);
  }
}

.nav {
  position: sticky;
  top: 0;
  max-width: 1140px;  
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.header__social {
  width: 50%; 
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto 0;
  user-select: none;
  


  a {
    display: inline-flex;    
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid $colorTitle2;
    border-radius: 50%;
    color: $colorTitle2;
    text-decoration: none;
    transition: all .2s linear;

    &:hover {
      border: transparent;
      background: $bgd-icon;
      color: $colorTitle2;
      transition: all .2s linear;
    }
  }


  .fab {    
    font-size: 24px;    
  }

}

.header__nav {
  
  width: 50%;                   
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &_wrap {    
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
    z-index: 3;

    &:hover {
      border: transparent;
      background: $bgd-icon;
      color: $colorTitle2;
      transition: all .2s linear;
    }
  }
  

  &_btn, &_btn::before, &_btn::after {
    transition: all 0.2s ease-in;
    width: 40px;
    height:3px;
    position: absolute;
    
    left: 50%; margin-left: -20px;
    top:50%; margin-top: -1.5px;
    background: white;
  }
  
  &_btn{
    transition:  0.2s ease-in ;
    
    &::before {      
      content: "";     
      transform: translateY(-12px);      
  
    }
  
    &::after {    
      content: "";
      transform: translateY(12px) ;
            
    } 
  
    
    &-active {
      border: transparent;
      background: $bgd-icon;
    }

    &-active .header__nav_btn {        
      height: 0; 

      &::before {        
        transform: rotate(45deg);       
        
      }
    
      &::after {        
        transform: rotate(-45deg);        
       
      }
    }

     
  }//header__nav_btn

  &_menu {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 260px;
    height: 260px;
    visibility: hidden;
    
  
    &-active {
      visibility: visible;
      position: absolute;
      top: -30px;
      right: 0;
      width: 260px;
      height: 30px;
      transform-origin: 100% 50%;
      transition: transform linear 1s;
      z-index: 5;
    
      &:nth-child(1) {
        transform: rotate(0deg);
        transition: transform 0.1s linear;
      }
    
      &:nth-child(2) {
        transform: rotate(-22.5deg);
        transition: transform 0.2s linear;
      }
    
      &:nth-child(3) {
        transform: rotate(-45deg);
        transition: transform 0.3s linear;
      }
    
      &:nth-child(4) {
        transform: rotate(-67.5deg);
        transition: transform 0.4s linear;
      }
    
      &:nth-child(5) {
        transform: rotate(-90deg);
        transition: transform 0.5s linear;
      }
    
      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
    
        &:hover {
          color:$bgd-icon;
          transition: color .3s linear;
        }
      }
    }//header__nav_menu-active
  }//header__nav_menu


}//header__nav



//  *******************  aboutMe ********************

.main {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-width: 300px;
 
}

.container {
  @include classContainer(100%, 100%, auto, $fntFam, $colorText);
  user-select: none;
  
  
  &__title {
    display: inline;
    margin: 140px auto;
    font-size: 4vw;
    font-weight: 700;
    background: $bgd-row1; // background color;
    -webkit-background-clip: text; // background color only for text
    -webkit-text-fill-color: transparent; // fill color characters of text - transparent 
  }

  &_bgd-dark {
    background: $bgd-row2;
  }

  &_bgd-gray {
    background: $bgd-row3;
  }

} // container 


/*  *************** block 'aboutMe' *******************  */

.aboutMe{
  @include classRow (flex, row wrap, 100%, 1140px, 0 auto);

  
  &__photo{
    flex: 1 1 0;
    position: relative;
    margin-top: 160px;
  }

  &__photo-border{
    width: 66%; //устанавливаем соотношение сторон при респонсиве
    min-width: 240px;
    min-height: 240px;
    padding-top: 66%; //устанавливаем соотношение сторон при респонсиве  

    border: 4px solid rgba(26, 215, 153, 1);
    margin-left: 50px;
    z-index: 1;
  }

  &__photo-bgd{
    position: absolute;
    top: 38px;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 2;
    width: 68%;

    img {
      display: block;
      min-width: 250px;
      width: 100%;
      height: auto;
    }
  }

  &__section_aboutMe {
    margin: 140px 0;
    flex: 1 1 0;
    min-width: 300px;
  
    p {
      margin-top: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5;
    }
  
    h6 {
      margin-top: 20px;
      font-size: 18px;
      color: rgba(26, 215, 153, 1);
  
      span {
        font-weight: 300;
        color: $colorText;
      }
    }
  
  } // __section_aboutMe 
  
  &__myInterests {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
  
    h1 {
      flex: 1 1 100%;
      margin-bottom: 25px;
    }
  
    .fas,
    .fab {
      font-size: 40px;
      color: $colorTitle1;
      transition: 0.35s color;
    } 
} // __myInterests 

&__myInterests-icon {
  width: 100px;
  height: 200px;

  div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(26, 215, 153, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

    &:hover {
     background: $bgd-row1;      
      
    }

    &:hover~span,
    &:hover i {
      opacity: 1;
      visibility: visible;
      color: $colorText;
      transition: all 0.35s linear ;
    }

  }

  span {
    display: block;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    text-align: center;
    transition: 0.55s opacity, 0.55s visibility;
  }


} // __myInterests-icon 

} // aboutMe 


/* *************  block 'Education' *********** */

.education {
  @include classRow (flex, column wrap, 100%, 1140px, 0 auto);
  height: auto;

  &__tree {
    display: flex;
    flex-flow: column wrap;
    align-items: center;    
    
  }

  &__section {
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 0;

    .center {
      background: $bgd-row3;
      z-index: 2;

      .far {
        font-size: 32px;
        color: $colorText2;

      }

    }
  }

  &__item1 {
    flex: 1 1 0;
    padding: 0 15px;
    line-height: 1.5;
    text-align: right;
  
    h2 {
      color: $colorText2;
    }
  
  }
  
  
  &__item1_reverce {
    flex: 1 1 0;
    padding: 0 15px;
    line-height: 1.5;
    text-align: left;
    order: 1;
  
    h2 {
      color: $colorText2;
    }
      
  }


  &__item2{
    flex: 1 1 0;
    padding: 0 15px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    
  }


  &__item2_reverce{
    flex: 1 1 0;
    padding: 0 15px;
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
    order: -1;
  }



} // education

.circle {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid $colorText2;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $bgd-row3;
  z-index: 2;


  .fas,
  .fab {
    font-size: 32px;
    color: $colorText2;

  }
}

.border-top-bottom {
  width: 3px;
  height: 100px;
  background: $colorText2;
  z-index: 1;
  margin: 0 auto;
}

.border {
  width: 3px;
  height: 150px;
  background: $colorText2;
  z-index: 1;
}

section:last-of-type .border {
  height: 250px;
}


.tree__end {      
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 1px solid $colorText2;
    border-radius: 50%;
    background: $colorText2;
    margin-bottom: 120px;  

}


/* ****** block  work ************************** */
.work {
  @include classRow (flex, column wrap, 100%, 1140px, 0 auto); 

  &__top-icon {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid $colorText2;

    display: flex;
    align-items: center;
    justify-content: center;

    .fas,
    .fab {
      font-size: 32px;
      color: $colorText2;

    }

  }

  &__tree_wrapper {
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 680px;
  }

  &__leftTree,
  &__rightTree {
      height: 100%;
      flex: 1 1 0;
      list-style: none;

      position: relative;


      h2 {
        color: $colorText2;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }

      li:first-of-type {
        top: 100px;

      }

      li:nth-of-type(2) {
        top: 250px;
      }

      li:nth-of-type(3) {
        top: 400px;
      }

      li:last-of-type {
        top: 550px;
      }

      li {
        width: 90%;
        position: absolute;
      }
  }

  &__leftTree {
    border-right: 3px solid $colorText2;

    li {
      text-align: right;
      padding-right: 30px;
      right: 0px;
    }

  }

  .icon {
    position: absolute;
    top: 0;
    right: -17px;

    .far {

      font-size: 32px;
      color: $colorText2;
      background: $bgd-row2;
      z-index: 1;
    }
  }

  &__rightTree {

    li {
      text-align: left;
      padding-left: 30px;
    }
  }

} //work 

// ********* profSkill ****************************


.profSkill {
  @include classRow (flex, column wrap, 100%, 1140px, 0 auto);  
 

  &__items {
    width: 100%;
    margin: 0 auto 100px ;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.5s;     
  }

  &__card {
    flex:0 1 300px;    
    box-shadow: 0px 0px 10px 5px $colorText;
    margin: 0 20px 50px;     
    transition: all 0.2s linear; 
    
    &:hover {
      transform: scale(1.05,1.05);
    }

    &_scale{
      margin: 50px 20px;
      width: 85%;
      height: 6px;  
      background: $bgd-row2;
    }
       
    h2{
      text-align: center;
      height: 60px;
      font-size: 20px;
      margin: 20px 20px 40px ;
    } 
    
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      
      filter:grayscale(0.8);
    }
    
  }
  
}


.indication { 
  
  @include cardIndication( $height:100%, $bgd:$bgd-row1,$posRel:relative,$fntSz:14px,$posAbslt:absolute,$posTop:-30px,$posRight:-5%,$posLeft:0 )

}

.dot{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $colorText2;
  position: absolute;
  right: -5px;
  top: -3.75px;
}

//skillName
.autoCad{
  @include skillName(75%,'AutoCad');  
}

.sCad{
  @include skillName(65%,'SCAD');  
}

.base{
  @include skillName(75%,'Base');  
}

.html {
  @include skillName(75%,'HTML');
}

.css {
  @include skillName(75%,'CSS');
}

.js {
  @include skillName(40%,'JS');
}

.skill-1{
  @include skillName(80%,'Монтаж конструкций');
}

.skill-2{
  @include skillName(90%,'Электроинструмент');
}

.skill-3{
  @include skillName(95%,'Чтение чертежей');
}


// ************  contacts ************************

.contact{
  @include classRow (flex, column wrap, 100%, 1140px, 0 auto);  

  &__form{
    
    width: 94%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  
    margin-bottom: 100px; 
  

    div{
      position: relative;
      flex: 1 1 300px;
      height: 30px;
      margin: 0 20px; 
      color: rgba(255, 255, 255,.3);
      font-weight: 300; 
      z-index: 0;
      
      

      &:first-child::after, &:nth-child(2)::after{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;        
        
      }

      &:first-child::after{
        content: 'NAME';
      }
      &:nth-child(2)::after{
        content: 'EMAIL';
      }
       
    }
  }   
}

.clickInput{
  position: relative;
  


  &::after{
    top: -30px !important;  
    color: $colorTitle1 !important;
    transition: all  0.3s linear;
  }   
}


    input[type = text], input[type = email],textarea{
      
      background: transparent;
      color: rgba(255, 255, 255,.7);
      font-size: 16px;
      font-weight: 300;
      font-family: $fntFam;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255,.3);
      outline-style: none; 
      position: relative;
      z-index: 1;
      

        &:focus{
        border-bottom:1px solid transparent;
        border-image: $bgd-row1;        
        border-image-slice: 1;
        
        }

    }
    
    input[type = text], input[type = email]{
          
      width: 100%;
      min-width: 300px;
      height: 100%;
      
    }

    textarea{
      width: 100%;
      margin: 20px;              
      resize: none;
      
      &::placeholder{
        font-size: 14px;
        font-family: $fntFam;
        color: rgba(255, 255, 255,.3);
        font-weight: 300;
      }

      &:focus::placeholder{
        opacity: 0; 
        transition: all 0.5s ease;
      }
      
    }

    
#submit{
  margin: 50px auto 0;
  width: 150px;
  height: 40px;
  outline-style: none;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  color: $colorTitle1;
  transition: all 0.1s ease-in;

  /* // текст с градиентом
  background: $bgd-row1; // background color;
  -webkit-background-clip: text; // background color only for text
  -webkit-text-fill-color: transparent; // fill color characters of text - transparent 
 */
  // рамка с градиентом
  border-bottom:2px solid transparent;
  border-image: $bgd-row1;        
  border-image-slice: 1;


  &:hover{
    background: linear-gradient(45deg, rgba(26,215,153,0.8) 0%, rgba(47,235,226,0.8) 100%);
    
    box-shadow: 0 0 3px 3px $colorTitle1;
    // transition:  .1s ease-in;
    color: $bgd-row2;
  }

 }
 



#up{
  width: 40px;
  height: 40px;
  position: fixed;
  top: 90vh;
  right: 4vw; 
  background:$bgd-row1; 
  transition: all 0.3s linear;
  z-index: 5;


  a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: inherit;

    & > i{
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: bottom;
        color: $bgd-row2;        
        font-size: 36px;
        transition: 0.3s linear;
    }

  }

  &:hover{   
    transition: all 0.3s linear;
    box-shadow: 0 0 1px 2px $colorText2;
  }
  &:hover i{
    transform: translateY(-3px);
    transition: 0.3s linear;
  }

  
}

